.health-bar-ennemi{

    -fx-pref-height: 10px; /* Hauteur de la barre */
    -fx-pref-width: 40px;
    -fx-border-radius: 5px;
    -fx-bordure-color: red;

}

.health-bar-ennemi .track {
    -fx-background-color: transparent; /* Fond transparent pour le track */
    -fx-padding: 0; /* Pas de padding pour le track */
    -fx-margin: 0; /* Pas de marge pour le track */
}

.health-bar-ennemi .bar {
    -fx-background-color: red; /* Couleur de la barre de progression */
    -fx-padding: 0; /* Pas de padding pour la barre */
    -fx-background-radius: 5px; /* Coins arrondis pour la barre */
    -fx-pref-height: 1px; /* Hauteur de la barre de progression */
}

.health-bar-joueur{

    -fx-pref-height: 30px; /* Hauteur de la barre */
    -fx-pref-width: 180px;
    -fx-border-radius: 5px;
    -fx-bordure-color: red;

}

.health-bar-joueur .track {
    -fx-background-color: black; /* Fond transparent pour le track */
    -fx-padding: 0; /* Pas de padding pour le track */
    -fx-margin: 5; /* Pas de marge pour le track */
    -fx-border-radius: 30px;
    -fx-pref-height: 45px;
}

.health-bar-joueur .bar {
    -fx-background-color: green; /* Couleur de la barre de progression */
    -fx-padding: 0; /* Pas de padding pour la barre */
    -fx-background-radius: 5px; /* Coins arrondis pour la barre */
    -fx-pref-height: 1px; /* Hauteur de la barre de progression */
}